useDynLib(miscF, .registration = TRUE)

export(curve.polynomial.rjmcmc, mvn.bayes, mvn.ub, mvt.ecme, mvt.mcmc,
       mvsn.mcmc, mvst.mcmc, rMultinom, rmvsn, rmvst, spatial.lme.mcmc, uvnm.rjmcmc)

import(MASS)
import(R2jags)
import(MCMCpack)
import(mvtnorm)
importFrom("stats", "dbeta", "dnorm", "dpois", "lm", "median", "rbeta",
             "rchisq", "rgamma", "rnorm", "qnorm", "runif", "uniroot", "var")


